.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
/.idea
*.iml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties